<div fxLayout="column">
	<mat-progress-bar *ngIf="loadUsersPending$ | async" [mode]="(loadUsersPending$ | async) ? 'indeterminate' : 'determinate'"
		class="session-progress"></mat-progress-bar>
	<div>
		<div fxLayout="row">
			<div class="mb-1 mt-1">
				<button mat-raised-button class="mb-05" color="primary" (click)="openPopUp({}, true)">
					<mat-icon>add</mat-icon>{{ 'AddUser' | translate }}
				</button>
			</div>
			<div>
				<mat-form-field class="ml-1" style="width: auto">
					<mat-icon matSuffix>search</mat-icon>
					<input 
					matInput 
					[formControl]="filterControl"
					placeholder="{{'Search' | translate}}" 
					value="">
				</mat-form-field>
			</div>
		</div>
	</div>
			
	<div class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
		<mat-card-content class="p-0">

			<!-- <ng-template #desktopView> -->
				<ngx-datatable 
					#table
					class="material ml-0 mr-0" 
					[rows]="filteredUsers$ | async" 
					[columnMode]="'force'" 
					[headerHeight]="50"
					[footerHeight]="50" 
					[limit]="10" 
					[rowHeight]="'auto'"
					[messages]="staticMessages"
					(select)="onSelectRow($event)"
					(dblclick)= "openPopUpDblClick($event)">
					<ngx-datatable-column name="{{'UserName' | translate}}" [flexGrow]="1">
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{ row?.username }}
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="{{'Name' | translate}}" [flexGrow]="1">
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{ row?.name }}
						</ng-template>
					</ngx-datatable-column>
					
					<ngx-datatable-column name="{{'Email' | translate}}" [flexGrow]="1">
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{ row?.email }}
						</ng-template>
					</ngx-datatable-column>
		
					<ngx-datatable-column name="{{'MobileNumber' | translate}}" [flexGrow]="1">
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{ row?.phone }}
						</ng-template>
					</ngx-datatable-column>

					<ngx-datatable-column name="{{'Website' | translate}}" [flexGrow]="1">
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{ row?.website }}
						</ng-template>
					</ngx-datatable-column>
		
					<ngx-datatable-column name="{{'Actions' | translate}}" [flexGrow]="1">
						<ng-template let-row="row" ngx-datatable-cell-template>
							<button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="openPopUp(row)">
								<mat-icon>edit</mat-icon>
							</button>
						</ng-template>
					</ngx-datatable-column>
				</ngx-datatable>
			<!-- </ng-template> -->

		</mat-card-content>
	</div>
</div>
