<div fxLayout="column">
	<mat-progress-bar *ngIf="loadUsersPending$ | async" [mode]="(loadUsersPending$ | async) ? 'indeterminate' : 'determinate'"
		class="session-progress"></mat-progress-bar>
	<div>
		<div fxLayout="row">
			<div class="mb-1 mt-1">
				<button mat-raised-button class="mb-05" color="primary" (click)="openPopUp({}, true)">
					<mat-icon>add</mat-icon>{{ 'AddUser' | translate }}
				</button>
			</div>
			<div>
				<mat-form-field class="ml-1" style="width: auto">
					<mat-icon matSuffix>search</mat-icon>
					<input 
					matInput 
					[formControl]="filterControl"
					placeholder="{{'Search' | translate}}" 
					value="">
				</mat-form-field>
			</div>
		</div>
	</div>
			
	<div class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
		<mat-card-content class="p-0">
			<!-- <mat-list *ngIf="isMobile; else desktopView" dense>
				<mat-list-item *ngFor="let user of users$ | async" (click)="openPopUp(user)">
					<img matListAvatar src="../../../../assets/images/default-user.png" >
					<h3 matLine> {{user.firstName}} {{user.lastName}}</h3>
					<p matLine>
					<span> {{user.userName}} </span>
					</p>
				</mat-list-item>
			</mat-list> -->

			<!-- <ng-template #desktopView> -->
				<ngx-datatable 
					#table
					class="material ml-0 mr-0" 
					[rows]="filteredUsers$ | async" 
					[columnMode]="'force'" 
					[headerHeight]="50"
					[footerHeight]="50" 
					[limit]="10" 
					[rowHeight]="'auto'"
					[messages]="staticMessages"
					(select)="onSelectRow($event)"
					(dblclick)= "openPopUpDblClick($event)">
					<ngx-datatable-column *ngIf="!isMobile" name="{{'UserName' | translate}}" [flexGrow]="1">
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{ row?.userName }}
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="{{'FirstName' | translate}}" [flexGrow]="1">
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{ row?.firstName }}
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="{{'LastName' | translate}}" [flexGrow]="1">
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{ row?.lastName }}
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column *ngIf="!isMobile" name="{{'Email' | translate}}" [flexGrow]="1">
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{ row?.email }}
						</ng-template>
					</ngx-datatable-column>
		
					<ngx-datatable-column *ngIf="!isMobile" name="{{'MobileNumber' | translate}}" [flexGrow]="1">
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{ row?.mobilePhone }}
						</ng-template>
					</ngx-datatable-column>
		
					<ngx-datatable-column *ngIf="!isMobile" name="{{'ServicePartner' | translate}}" [flexGrow]="1">
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{ row?.servicePartner }}
						</ng-template>
					</ngx-datatable-column>
		
					<ngx-datatable-column *ngIf="!isMobile"  name="{{'Role' | translate}}" [flexGrow]="1">
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{ row?.role }}
						</ng-template>
					</ngx-datatable-column>
		
					<ngx-datatable-column name="{{'Actions' | translate}}" [flexGrow]="1">
						<ng-template let-row="row" ngx-datatable-cell-template>
							<button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="openPopUp(row)">
								<mat-icon>edit</mat-icon>
							</button>
						</ng-template>
					</ngx-datatable-column>
				</ngx-datatable>
			<!-- </ng-template> -->

		</mat-card-content>
	</div>
</div>