<div>
  <mat-progress-bar *ngIf="createUserPending$ | async" [mode]="(createUserPending$ | async) ? 'indeterminate' : 'determinate'"
    class="session-progress"></mat-progress-bar>
</div>
  
<h1 matDialogTitle>{{data.title}}</h1>

<mat-dialog-content>
  <form [formGroup]="userForm">
    <div fxLayout="row wrap" fxLayout.lt-sm="column">

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="name" [formControl]="userForm.controls['name']" placeholder="{{'Name' | translate}}">
          <mat-error *ngIf="userForm.controls['name'].invalid">{{'MandatoryField' | translate}}</mat-error>
        </mat-form-field>
      </div>
  
      <div fxFlex="50" class="pl-1">
        <mat-form-field class="full-width">
          <input matInput name="username" [formControl]="userForm.controls['username']" placeholder="{{'Username' | translate}}">
          <mat-error *ngIf="userForm.controls['username'].invalid">{{'MandatoryField' | translate}}</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput type="email" name="email" [formControl]="userForm.controls['email']" placeholder="{{'Email' | translate}}">
          <mat-error *ngIf="userForm.controls['email'].invalid">{{'MandatoryField' | translate}}</mat-error>
        </mat-form-field>
      </div>
      
      <div fxFlex="50" class="pl-1">
        <mat-form-field class="full-width">
          <input matInput name="phone" [formControl]="userForm.controls['phone']" placeholder="{{'MobilePhoneNumber' | translate}}">
          <mat-error *ngIf="userForm.controls['phone'].invalid">{{'MandatoryField' | translate }}</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="website" [formControl]="userForm.controls['website']" placeholder="{{'Website' | translate}}">
          <mat-error *ngIf="userForm.controls['website'].invalid">{{'MandatoryField' | translate}}</mat-error>
        </mat-form-field>
      </div>      

    </div>
  </form>
</mat-dialog-content>

<div class="mt-1" fxLayout="row wrap" fxLayoutAlign="space-between center" >
    <button mat-button color="warn" type="button" (click)="cancel()">{{'Cancel' | translate}}</button>
    <span *ngIf="editMode" fxFlex></span>
    <button *ngIf="editMode" mat-icon-button color="warn" (click)="deleteUser()">
      <mat-icon>delete</mat-icon>
    </button>
    <span fxFlex></span>
    <button mat-raised-button color="primary" [disabled]="userForm.invalid" type="button" (click)="submit()">{{'Save' |
      translate}}</button>
</div>
